@font-face {
    font-family: 'Marvel';
    src: url('..//assets/fonts/MarvelRegular-Dj83.ttf');
}

@font-face {
    font-family: 'Avengers';
    src: url('..//assets/fonts/AvengeanceHeroicAvengerBold-MM2J.ttf');
}
